#message {
    display: none;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    z-index: 1;
    background-color: whitesmoke;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#message_info {
    top: 25px;
    margin: 0 auto;
    width: 250px;
    height: 100px;
}

#modal {
    width: 50px;
    height: 40px;
    right: 10px;
    top: 100px;
    margin: 10px;
}